
body{
    
    height: 150vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(Images/wallpaper_gravityfalls.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:saturation;

}
footer{
  color:aliceblue
}

/*font styling*/

h1{
    color:aliceblue;
    text-shadow:2px 2px 8px black;
    padding-left: 10%;
    font-size: 48px;
}
nav{
    background-color:#713d27;
    padding: .5em;
    position: sticky;
    top:0;
    z-index:1000;
    width: 100%;
    
}
nav ul{
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 100%;
}


/*staff page styling*/
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}
.image-container:hover .overlay {
  opacity: 1;
}
.hero h1,
.hero p {
  background-color:rgba(91, 51, 14, 0.7);
  display:inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  color:aliceblue;
  font-size:1.6em;
}
.history h2,
.history p{
  font-size: 1.6em;
  margin-bottom: 20px;
  background-color:rgba(91,51,14,0.7);
  display:inline-block;
  padding:10px 20px;
  border-radius:10px;
  color:aliceblue
}
.history-content img{
  width: 300px;
  height: auto;
  border:5px solid #d2b48c;
  box-shadow:0 4px 12px rgba(0,0,0,0.7);
  display:block;
  margin:0 auto;

}
